/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UncutSans";
  src: url("/fonts/UncutSans-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TinyMono";
  src: url("/fonts/TinyMono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body,
html {
  font-family: "UncutSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
